/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1800  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/pointing.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        display-name = "Default Layer";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
bindings = <
  &kp TAB     &kp Q    &kp W    &kp E     &kp R       &kp T           &kp Y      &kp U       &kp I     &kp O    &kp P     &kp BSLH
  &lt 3 ESC   &kp A    &kp S    &kp D     &kp F       &kp G           &kp H      &kp J       &kp K     &kp L    &kp SEMI  &lt 3 APOS
  &kp LSHFT   &kp Z    &kp X    &kp C     &kp V       &kp B           &kp N      &kp M       &kp COMMA &kp DOT  &kp SLASH &kp RSHFT
                                &kp LCTRL &lt 1 SPACE &kp LALT        &lt 2 BSPC &lt 1 ENTER &mt RSHIFT DEL

                        >;
                };

                lower_layer {
                        display-name = "Lower Layer";
                        
bindings = <
  &kp GRAVE &kp N1   &kp N2 &kp N3   &kp N4           &kp N5                  &kp N6             &kp N7            &kp N8    &kp N9  &kp N0    &kp PIPE
  &kp TILDE &kp EXCL &kp AT &kp HASH &kp DOLLAR       &kp PERCENT             &none              &kp MINUS         &kp EQUAL &none   &kp COLON &kp DQT
  &none     &none    &none  &none    &kp LEFT_BRACE   &kp LEFT_BRACKET        &kp RIGHT_BRACKET  &kp RIGHT_BRACE   &none     &none   &kp QMARK &none
                            &trans   &trans           &trans                  &trans             &trans            &trans
                        >;
                };

                raise_layer {
                        display-name = "Raise Layer";
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <

&kp TILDE &kp EXCL &kp AT &kp HASH  &kp DOLLAR &kp PERCENT                   &kp CARET           &kp AMPS   &kp ASTERISK &kp LPAR &kp RPAR  &kp PIPE
&none     &none    &none  &kp MINUS &kp EQUAL  &kp LT                        &kp GT              &kp UNDER &kp PLUS     &none    &kp COLON &kp DQT
&none     &none    &none  &none     &kp DOLLAR &kp LEFT_BRACKET              &kp RIGHT_BRACKET   &kp DOLLAR  &none        &none    &kp QMARK &kp APOS
                              &trans &trans &trans        &trans &trans &trans

                        >;
                };
                
                nav_layer {
                  display-name = "Navigation Layer";

                  bindings = <
&none &none          &mmv MOVE_UP   &none           &msc SCRL_UP   &kp HOME     &none    &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &none &none
&none &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &msc SCRL_DOWN &kp END      &kp LEFT &kp DOWN   &kp UP       &kp RIGHT    &none &none
&none &none          &none          &none           &none          &none        &none    &none      &none        &none        &none &none
                          &mkp MB3 &mkp MB1 &mkp MB2        &none &none &none
  >;
                };
        };
};
