/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        /* ┌──────────── LEFT ────────────┐   ┌──────────── RIGHT ───────────┐ */
        &kp TAB   &kp Q    &kp W    &kp E    &kp R    &kp T        &kp Y    &kp U    &kp I    &kp O    &kp P    &kp BSLH
        &lt NAV ESC &kp A    &kp S    &kp D    &kp F    &kp G        &kp H    &kp J    &kp K    &kp L    &kp SEMI &lt NAV APOS
        &kp LSHFT &kp Z    &kp X    &kp C    &kp V    &kp B        &kp N    &kp M    &kp COMMA &kp DOT &kp SLASH &kp RSHFT

        &kp LCTRL &lt SYM SPACE &kp LALT        &lt NUM BSPC &lt SYM ENTER &mt RSHIFT DEL
      >;
    };

    sym_layer {
      bindings = <
        &kp GRAVE &kp N1 &kp N2 &kp N3 &kp N4 &kp N5        &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp PIPE
        &kp TILDE &kp EXCL &kp AT &kp HASH &kp DOLLAR &kp PERCENT &none &kp MINUS &kp EQUAL &none &kp COLON &kp DQT
        &none &none &none &none &kp LCBR &kp LBKT        &kp RBKT &kp RCBR &kp LT &kp GT &kp QMARK &none

        &trans &trans &trans        &trans &trans &trans
      >;
    };

    num_layer {
      bindings = <
        &kp TILDE &kp EXCL &kp AT &kp HASH &kp DOLLAR &kp PERCENT &kp CARET &kp AMP &kp ASTERISK &kp LPAR &kp RPAR &kp PIPE
        &none &none &none &kp MINUS &kp EQUAL &kp LT        &kp GT &kp UNDER &kp PLUS &none &kp COLON &kp DQT
        &none &none &none &none &kp LCBR &kp LBKT        &kp RBKT &kp RCBR &none &none &kp QMARK &kp APOS

        &trans &trans &trans        &trans &trans &trans
      >;
    };

    nav_layer {
      bindings = <
        &none &none &mmv MOVE_UP &none &msc SCRL_UP &kp HOME     &none &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &none &none
        &none &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &msc SCRL_DOWN &kp END &kp LEFT &kp DOWN &kp UP &kp RIGHT &none &none
        &none &none &none &none &none &none         &none &none &none &none &none &none

        &mkp MB3 &mkp MB1 &mkp MB2        &none &none &none
      >;
    };
  };
};
